/* Stylying the root and all its child elements */
Store{
    background-color: #EDFCFD;
    font-family: 'Ubuntu', sans-serif;
}

/* Changing Selection color */
*::selection {
    background-color: #bfbfbf;
    color: #191919;
}

/* Styling Store Details Element */
StoreDetails{
    width: 96%;
    margin: auto;
    color: #19647E;
    display: block;
    text-align: center;
    font-size: 27px;
    padding-bottom: 50px;
    margin-bottom: 60px;
    border: 3px solid lightblue;
    background-color: #B6F2F7;
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(182,242,247,1) 13%, rgba(0,212,255,1) 34%, rgba(24,220,241,1) 57%, rgba(0,212,255,1) 69%);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,1);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,1);
}

/* The title of the store */
Name{
    display: block;
    font-size: 110px;
    padding-bottom: 5px;
    font-family: candara;
    font-weight: 700;
    letter-spacing: 5px;
    color: #0C6A6F;
    transition: .3s;
    overflow: hidden;
}

/* Adding hover effect */
Name:hover{
    text-shadow: 1px 2px 2px #c08435;
    transform: scale(1.01);
    cursor: pointer;
}

Name, Website {
    display: block;
    margin: 15px; 
}

Contact, Address{
    font-size: 22px;
    margin-top: 15px;
}

Contact::before{
    content: " | ";
}

/* Styling the website link */
Website{
    font-family: Consolas;
    font-size: 20px;
    line-height: 1;
    letter-spacing: 0px;
    transition: .3s;
}
Website:hover{
    transform: scale(1.008);
    color: rgb(192, 132, 53);
    cursor: pointer;
}

/* Styling the page logo */
Logo{
    background-image: url("logo.png");
    display: block;
    width: 50px;
    height: 60px;
    background-size: cover;
    transition: .5s;
    top:2%;
    left: 2%;
    position: fixed;
	z-index: 100;
}

/* Hover effect to the logo  */
Logo:hover{
    transform: scale(1.2);
    cursor: pointer;
}

/* Song List */
SongTitle{
    width: 96%;
    font-size: 45px;
    margin: 10px;
    padding-top: 100px;
    color: hsl(195, 67%, 30%);
    font-weight: 700;
    margin-left: 2%;
    text-decoration-line: underline;
    text-decoration-style: wavy;
}

/* Creating Flex box  */
Songs{
    margin-left: 2%;
    padding-top: 30px;
    display: block;
    align-content: center;
    justify-content: center;
}

/* Styling each float box  */
Song{
    float: left;
    padding: 20px;
    width: 45%;
    margin: 10px;
    display: block;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,1);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,1);
    transition: .5s;
    margin-top: 30px;
    background: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgba(255,255,255,0.6) 0%, rgba(182,242,247,1) 2%, rgba(191,226,215,1) 34%, rgba(199,237,245,1) 100%, rgba(70,203,230,1) 100%);
    border-radius: 3px;
    border: 2px solid #E79DB4;
    opacity: 0.9;
}

/* Adding hover effect to the float box  */
Song:hover{
    -webkit-box-shadow: 0px 0px 10px 3px rgba(0,211,194,1);
    -moz-box-shadow: 0px 0px 10px 3px rgba(0,211,194,1);
    box-shadow: 0px 0px 10px 3px rgba(0,211,194,1);
    transform: scale(1.01);
    cursor: pointer;
    background-color: rgb(107, 160, 148, 0.3);
    opacity: 1;
    border: 3px solid #E79DB4;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(182,242,247,1) 2%, rgba(191,226,215,1) 34%, rgba(199,237,245,1) 100%, rgba(70,203,230,1) 100%);
}

/* Changing font, Font family, and creating a list  */
Description, Genre, Album, Duration, ReleaseDate, CoverImage, Director, Producer, Writer, Singers, Cinematographer, ProductionCompany, Stream, Liscense, Rating{
    display: block;
    margin: 10px;
    font-family: candara;
    font-size: 17.5px;
}

/* Styling title of the song  */
Title{
    font-size: 27px;
    font-weight: 700;
    color: #435360;
}

/* Adding the title for all the element of each song */
Description::before{
    content: "- ";
    font-weight: 1000;
}
Description{
    font-family: Century Gothic;
}
Genre::before{
    content: "Genre  ";
}
Album::before{
    content: "Album  ";
}
Duration::before{
    content: "Duration  ";
}
ReleaseDate::before{
    content: "Release Date  ";
}
Day::after{
    content: ",";
    font-weight: 1000;
}
Director::before{
    content: "Director  ";
}
Producer::before{
    content: "Producer  ";
}
Writer::before{
    content: "Writer  ";
}
Singers::before{
    content: "Singers  ";
}
Singer::before{
    content: "• ";
    color:  rgb(25, 102, 128);
    font-weight: 1000;
}
Singer{
    display: block;
    margin: 7px;
}
Stream::before{
    content: "Stream  ";
}
Cinematographer::before{
    content: "Cinematographer  ";
}
ProductionCompany::before{
    content: "Production Company  ";
}
Liscense::before{
    content: "Liscense  ";
}
Rating::before{
    content: "Rating ";
}

/* Styling the website link */
Spotify, AppleMusic, Youtube{
    display: block;
    margin: 10px;
    font-family: Consolas;
    letter-spacing: 0px;
    text-decoration:underline;
    color: rgb(192, 132, 53);
}

/* Styling the title for all the element of each song */
Genre::before, Album::before, Duration::before, ReleaseDate::before, Director::before, Producer::before, Writer::before, Singers::before, Cinematographer::before, ProductionCompany::before, Stream::before, Liscense::before, Rating::before{
    font-size: 18.5px;
    font-weight: 700;
    color:  rgb(25, 102, 128);
}

/* Adding cover image to each song  */
CoverImage[ciID="s1"]{
    background-image: url("cia.png");
}
CoverImage[ciID="s2"]{
    background-image: url("cib.png");
}
CoverImage[ciID="s3"]{
    background-image: url("cic.png");
}
CoverImage[ciID="s4"]{
    background-image: url("cid.png");
}
CoverImage[ciID="s5"]{
    background-image: url("cie.png");
}

/* Styling the cover image  */
CoverImage{
    float: right;
    display: block;
    width: 210px;
    height: 280px;
    background-size: cover;
    -webkit-box-shadow: 0px 0px 9px 0px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 9px 0px rgba(0,0,0,1);
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,1);
    background-position: center;
}

